// for pseudo element
@mixin pseudo($display: block, $pos: absolute, $content: '') {
  content: $content;
  display: $display;
  position: $pos;
}

// for text truncation
@mixin truncate($truncation-boundary) {
  max-width: $truncation-boundary;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin flexLayout($justify-property: initial, $align-property: initial) {
  display: flex;
  justify-content: $justify-property;
  align-items: $align-property;

  & > * {
    flex: 1;
  }
}

@mixin fontSize-fontColor-LineHeight-LetterSpacing($font-size: 15px, $color: black, $lineHeight:1, $letterSpacing: initial) {
  @include font-responsive($font-size, 0);
  color: $color;
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
}

@mixin responsivePadding($xs,$sm,$md,$lg,$xl) {
  padding: $xs;
  @include media-breakpoint-up(sm) {
    padding: $sm;
  }
  @include media-breakpoint-up(md) {
    padding: $md;
  }
  @include media-breakpoint-up(lg) {
    padding: $lg;
  }
  @include media-breakpoint-up(xl) {
    padding: $xl;
  }
}