@import "variable";
@import "breakpoints";
@import "functions";
@import "responsive-font-size";
@import "mixin";
@import "grid";
@import "nav";
@import "button";

.only-breakpoint {
  @include media-breakpoint-only(sm){
    color: rebeccapurple;
  };
}

.between-breakpoint {
  @include media-breakpoint-between(sm , md){
    color: rebeccapurple;
  };
}

.breakpoint-up {
  @include media-breakpoint-up(sm){
    color: rebeccapurple;
  };
}

.breakpoint-down {
  @include media-breakpoint-down(xs){
    color: rebeccapurple;
  };
}

.media-breakpoint-only {
  @include media-breakpoint-only(sm) {
    color: rebeccapurple;
  }
}


.flex-center {
  @include flexLayout(center,center);
}

.myFont {
  @include fontSize-fontColor-LineHeight-LetterSpacing(17px, red, 1.5, 2);
}

.myResponsiveDivForSpacing {
  @include responsivePadding(15px, 20px, 40px, 50px, 80px)
}